include openingTags.jade

        - var nested = "A nested subject line."
        
        - var headerSource = "http://asset.uie.com/emails/img/sample_images/sloth_header.png"
        - var headerAltText = "Header"
        
        - var fullWidthTextHeader = "100% Width Text"
        - var fullWidthTextBody = "Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat."
        
        - var twoColumnSource = "http://asset.uie.com/emails/img/sample_images/doggy.jpg"
        - var twoColumnAltText = "image"
        
        - var subHeaderText = "I am the opening text header"
        - var openingText = "I am the opening text body"
        - var threeColumnImageSource = "img/doggy.jpg"
        - var twoColumnText = "I am the two column text"
        - var threeColumnText = "I am the three column text"
      
        // nested
        table.outer(align='center')
          tr
            td.multi-column
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="80%" valign="top">
              <![endif]-->
              div.column-80
                table(width="100%")
                  tr 
                    td.inner
                      table.contents 
                        tr
                          td.text-nested #{nested}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="20%" valign="top">
              <![endif]-->
              div.column-80
                table(width="100%")
                  tr 
                    td.inner
                      table.contents 
                        tr
                          td.text-nested
                            a(href="*|ARCHIVE|*")View in Browser
          // header                  
          tr
            td
              table.outer(align="center")
                tr
                  td.full-width-image
                    img(src="#{headerSource}" width='600' alt="#{headerAltText}")
                    
          //one-column
          tr
            td.one-column
              table(width="100%")
                tr
                  td.inner.contents 
                    p.h1 #{fullWidthTextHeader}
                    p #{fullWidthTextBody}
          
          //two-column 50/50 spilt
          tr
            td.two-column
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="50%" valign="top">
              <![endif]-->
              div.column-50
                table(width='100%')
                  tr
                    td.inner
                      table.contents
                        tr
                          td
                            img(src="#{twoColumnSource}" width='280' alt='image')
                        tr
                          td.text #{twoColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="50%" valign="top">
              <![endif]-->
              div.column
                table(width='100%')
                  tr
                    td.inner
                      table.contents
                        tr
                          td
                            img(src="#{twoColumnSource}" width='280' alt='image')
                        tr
                          td.text #{twoColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
          
          //three column
          tr
            td.three-column
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="200" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{threeColumnImageSource}" width="180" alt="image")
                      tr
                        td.text #{threeColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="200" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{threeColumnImageSource}" width="180" alt="image")
                      tr
                        td.text #{threeColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="200" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{threeColumnImageSource}" width="180" alt="image")
                      tr
                        td.text #{threeColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
          
          //four column
          tr
            td.four-column
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="150" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{fourColumnImageSource}" width="130" alt="image")
                      tr
                        td.text #{fourColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="150" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{fourColumnImageSource}" width="130" alt="image")
                      tr
                        td.text 
                          p.h2 1/4 Four-Column 
                          #{fourColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="150" valign="top">
              <![endif]-->
              table.column
                tr
                  td.inner
                    table.contents
                      tr
                        td
                          img(src="#{fourColumnImageSource}" width="130" alt="image")
                      tr
                        td.text #{fourColumnText}
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
