- var fiveColumnSource1  = ""
- var fiveColumnText1    = ""
- var fiveColumnHeader1  = ""
- var fiveColumnAltText1 = ""

- var fiveColumnSource2  = ""
- var fiveColumnText2    = ""
- var fiveColumnHeader2  = ""
- var fiveColumnAltText2 = ""

- var fiveColumnSource3  = ""
- var fiveColumnText3    = ""
- var fiveColumnHeader3  = ""
- var fiveColumnAltText3 = ""

- var fiveColumnSource4  = ""
- var fiveColumnText4    = ""
- var fiveColumnHeader4  = ""
- var fiveColumnAltText4 = ""

- var fiveColumnSource5  = ""
- var fiveColumnText5    = ""
- var fiveColumnHeader5  = ""
- var fiveColumnAltText5 = ""

tr
  td.five-column
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="120" valign="top">
    <![endif]-->
    table.column
      tr
        td.inner
          table.contents
            tr
              td
                img(src="#{fiveColumnSource1}" width="100" alt="#{fiveColumnAltText1}")
            tr
              td.text 
              p.h2 #{fiveColumnHeader1}
              span #{fiveColumnText1}
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="120" valign="top">
    <![endif]-->
    table.column
      tr
        td.inner
          table.contents
            tr
              td
                img(src="#{fiveColumnSource2}" width="100" alt="#{fiveColumnAltText2}")
            tr
              td.text 
              p.h2 #{fiveColumnHeader2}
              span #{fiveColumnText2}
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="120" valign="top">
    <![endif]-->
    table.column
      tr
        td.inner
          table.contents
            tr
              td
                img(src="#{fiveColumnSource3}" width="100" alt="#{fiveColumnAltText3}")
            tr
              td.text 
              p.h2 #{fiveColumnHeader3}
              span #{fiveColumnText3}
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="120" valign="top">
    <![endif]-->
    table.column
      tr
        td.inner
          table.contents
            tr
              td
                img(src="#{fiveColumnSource4}" width="100" alt="#{fiveColumnAltText4}")
            tr
              td.text 
              p.h2 #{fiveColumnHeader4}
              span #{fiveColumnText4}
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="120" valign="top">
    <![endif]-->
    table.column
      tr
        td.inner
          table.contents
            tr
              td
                img(src="#{fiveColumnSource5}" width="100" alt="#{fiveColumnAltText5}")
            tr
              td.text 
              p.h2 #{fiveColumnHeader5}
              span #{fiveColumnText5}
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
